# OS
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node (por si en el futuro se agrega tooling)
node_modules/
package-lock.json

# Builds
dist/
build/

# Variables sensibles
.env
.env.local
